* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}
body {
  background-color: #172546;
  display: flex;
  gap: 20px;
}

/* NAVIGATION BAR STYLING */

nav {
  color: white;
  font-size: 18px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav #my-dashboard {
  font-size: 25px;
}
nav .nav-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
}
.nav-links i {
  font-size: 25px;
}
/* FOR SELECTION OF NAV BAR  */
.nav-buttons:nth-child(1) {
  background-color: #5151f1;
  border-radius: 10px;
}

/* PROFILE SECTION  OF NAV BAR  */
.profile {
  display: flex;
  gap: 15px;
  align-items: center;
  border: solid rgba(255, 255, 255, 0.26) 1px;
  border-radius: 10px;
  padding: 12px 15px;
}
.profile-initial {
  background-color: #5151f1;
  padding: 12px 16px;
  border-radius: 50%;
}

/* DESIGNING MAIN DIV OF DASHBOARD  */
main {
  background-image: url(./ChatGPT\ Image\ Jul\ 11\,\ 2026\,\ 05_05_25\ PM.png);
  background-size: cover;
  width: calc(100% - 275px);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 40px 35px;
}

/* HEAD SECTION OF DASHBOARD */
.dashboard-head{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    
}
.dashboard-head h2{
    font-size: 35px;
    font-weight: 450;
}
.dashboard-head-greet{
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: rgba(0, 0, 0, 0.699);
}

/* FUNCTIONALITIES OF HEAD SECTION  */
.dashboard-head-func{
    display: flex;
    gap: 15px;
    height: 100%;
}

/* DATE TIME SECTION */
.date-time{
    height: 100%;
    background-color: #F7F8FB;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 15px;
}
.date-time i{
    color: #5895FA;
    font-size: 35px;
}
.date-time-texts{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.date-time-texts .day-date{
    color: rgba(0, 0, 0, 0.644);
}
.date-time-texts #time{
    font-size: 35px;
}

/* THEME SELCECTION SECTION  */
.theme-selection{
    padding: 15px 40px;
    background-color: #F7F8FB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 35px;
    border-radius: 15px;

}

/* MID SECTION OF DASHBOARD  */

.dashboard-mid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "to-do-list daily-planner mot-section pomo-timer"
    ;
    padding: 25px;
    gap: 20px;
    height: 600px;
}
.dashboard-mid h2{
    font-size: 25px;
}

/* TO-DO LIST SECTION DESIGNING  */

.to-do-list{
    grid-area: to-do-list;
    background-color: #F7F8FB;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px; 
    border-radius: 20px;
    justify-content: space-between;
}
.todo-head{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

}
.todo-head i{
    padding: 7px;
    font-size: 30px;
    color: white;
    border-radius: 8px;
    background-color: #5151f1;
    border: none;
}
.todo-form{   
    padding: 5px 0px;
}
.todo-form form{
    display: flex;
     align-items: center;
    gap: 5px;
    width: 100%;
}
.todo-form input{
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    padding: 7px 10px;
    border-radius: 5px;
    width: 100%;
    
}
.todo-form button{
    height: 100%;
    padding: 5px 6px;
    font-size: 22px;
    color: white;
    border-radius: 8px;
    background-color: #5151f1;
    border: none;
}
.to-do-head-task{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.todo-task-collection{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.todo-task-collection .todo-task{
    padding: 8px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-task i{
    font-size: 18px;
}
.todo-completion-status{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.todo-completion-status p{
    color: rgba(0, 0, 0, 0.616);
    font-size: 15px;
    width: 100%;
    

}
.task-timeline{
    display: flex;

}
.todo-total-timeline{
    background-color: rgba(65, 60, 60, 0.315);
    width: 100%;
    height: 10px;
    border-radius: 5px;
}
.todo-done-timeline{
    background-color: #5151f1;
    height: 10px;
    border-radius: 5px;
    width: 40%;
}




.daily-planner{
    grid-area: daily-planner;
        background-color: #F7F8FB;

}

/* MOTIVATIONAL QUOTE SECTION  */

.mot-section{
    grid-area: mot-section;
    background-image: url(./ChatGPT\ Image\ Jul\ 12\,\ 2026\,\ 08_27_52\ AM.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px; 
    border-radius: 20px;
}
.mot-section-head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mot-section-head i{
    padding: 7px;
    font-size: 30px;
    color: white;
    border-radius: 8px;
    background-color: #9E8AF7;
    border: none;
}
.quote{
    display: flex;
    flex-direction: column;
    /* background-color: wheat; */
    padding: 25px;
    height: 100%;
    gap: 15px;
}
.quote i{
    font-size: 55px;
    color: #9E8AF7;
    margin-bottom: ;
}
.quote span{
    text-align: center;
}
#quote-writter{
    color: #9E8AF7;
}

/* POMODORO TIMER UI STYLING  */

.pomo-timer{
    grid-area: pomo-timer;
    background-color: #F7F8FB;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px; 
    border-radius: 20px;

}
.pomo-timer-head{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.pomo-timer-head i{
    padding: 7px;
    font-size: 30px;
    color: white;
    border-radius: 8px;
    background-color: #F35362;
    border: none;
}
